table.unstyledTable {
    border: 1px solid #444444;
    border-collapse: collapse;
    display: none;
}

    table.unstyledTable td, table.unstyledTable th {
        border: 1px solid #444444;
        padding: 3px 2px;
    }

    table.unstyledTable thead {
        background: #DDDDDD;
        border-bottom: 1px solid #444444;
    }

        table.unstyledTable thead th {
            font-weight: normal;
            border-left: 1px solid #444444;
        }

            table.unstyledTable thead th:first-child {
                border-left: none;
            }
